.color-box {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    border: 1px solid #ddd;
    background-color: rgb(0, 0, 0);
}

.card {
    border-radius: 16px;
}

input[type="number"] {
    max-width: 150px;
}